@import url(https://fonts.googleapis.com/css?family=Bungee);

.wrapp-list,
.list-page {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px
}

@media(min-width: 768px) {

    .wrapp-list,
    .list-page {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media(min-width: 940px) {

    .wrapp-list,
    .list-page {
        gap: 10px;
        grid-template-columns: repeat(3, 1fr)
    }
}

@media(min-width: 1140px) {

    .wrapp-list,
    .list-page {
        gap: 18px;
        grid-template-columns: repeat(4, 1fr)
    }
}

@media(min-width: 1380px) {

    .wrapp-list,
    .list-page {
        grid-template-columns: repeat(5, 1fr)
    }
}

.card {
    width: 255px;
    padding: 5px;
    background-color: #086266;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer
}

.card-title {
    text-align: center;
    font-size: 18px;
    padding-bottom: 0;
    margin-bottom: 5px
}

.card-img {
    width: 240px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px
}

.no-scroll {
    overflow-y: hidden
}

.wrapp-modal {
    position: relative;
    z-index: 20
}

.fade-block {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .8s ease 0s;
    width: 100%;
    height: 100%;
    background-color: rgba(220, 225, 226, .679)
}

@media(min-width: 280px) {
    .modal-window {
        width: 200px;
        z-index: 18;
        animation-duration: 3s;
        animation-name: move-right;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 5px;
        position: absolute;
        overflow-y: auto;
        background: #086266;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column
    }
}

@media(min-width: 320px) {
    .modal-window {
        width: 250px;
        top: 65%
    }
}

@media(min-width: 480px) {
    .modal-window {
        width: 350px;
        top: 65%
    }
}

@media(min-width: 768px) {
    .modal-window {
        flex-direction: row;
        width: 583px;
        top: 50%
    }
}

@media(min-width: 280px) {
    .modal-window__wrapp {
        width: 180px
    }
}

@media(min-width: 320px) {
    .modal-window__wrapp {
        width: 185px
    }
}

@media(min-width: 480px) {
    .modal-window__wrapp {
        width: 200px
    }
}

@media(min-width: 768px) {
    .modal-window__wrapp {
        margin-left: 15px;
        width: 300px
    }
}

.title-name {
    color: #e6c300;
    padding-bottom: 0;
    padding-top: 0
}

.slideInDown {
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}

@keyframes slideInDown {
    from {
        top: -20px;
        -webkit-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%)
    }

    to {
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%)
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    top: 50%;
    transform: translate(-50%, -50%)
}

@media(min-width: 320px) {
    .slideInDown {
        top: 55%
    }
}

@media(min-width: 480px) {
    .slideInDown {
        top: 65%
    }
}

@media(min-width: 768px) {
    .slideInDown {
        top: 50%
    }
}

.scroll-up {
    visibility: hidden;
    position: fixed;
    right: 5px;
    bottom: 40px;
    z-index: 18;
    width: 28px;
    height: 28px;
    color: #dcdcdc;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: inset 0 0 0 3px #dcdcdc;
    opacity: 0;
    transition: .2s;
    transform: translateY(25px)
}

.scroll-up::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    content: "↑"
}

.scroll-up:hover {
    color: orange
}

.scroll-up--active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0)
}

.scroll-up__svg-path {
    box-sizing: border-box;
    fill: none;
    stroke: orange;
    stroke-width: 3px;
    transition: .2s
}

.loading__wrapp {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 2000;
    transition: 1s all;
    opacity: 1
}

.loading__wrapp.done {
    opacity: 0;
    visibility: hidden
}

.bg {
    background-color: pink;
    animation: loading 20s linear infinite
}

.load {
    color: pink;
    width: 200px;
    border: 1px solid pink
}

.load:after {
    padding-left: 20px;
    content: "0%";
    display: block;
    text-align: center;
    font-size: 12px;
    padding: 10px 20px;
    color: aqua;
    mix-blend-mode: difference;
    animation: percentage 20s linear infinite
}

.text {
    font-family: "Bungee";
    color: #ffb6c1;
    font-size: 1.7rem
}

.loader,
.loader:before,
.loader:after {
    background: #ffb6c1;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em
}

.loader {
    color: #ffb6c1;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: ""
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s
}

.loader:after {
    left: 1.5em
}

@-webkit-keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em
    }
}

@keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em
    }
}

.page-btn,
.page-btn__prev,
.page-btn__next {
    background: #ddd;
    color: #2c303a;
    height: 18px;
    width: 18px;
    border-radius: 1px;
    padding: 0;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    outline: none;
    border: none;
    margin-left: 3px;
    line-height: 18px;
    margin-bottom: 5px
}

@media(min-width: 480px) {

    .page-btn,
    .page-btn__prev,
    .page-btn__next {
        height: 35px;
        width: 35px;
        font-size: 14px
    }
}

.page-btn__prev,
.page-btn__next {
    width: 45px
}

@media(min-width: 480px) {

    .page-btn__prev,
    .page-btn__next {
        width: 65px;
        font-size: 14px
    }
}

.list-btns {
    display: flex;
    margin-bottom: 15px;
    justify-content: center
}

*,
*::after,
*::before {
    box-sizing: border-box
}

.container {
    max-width: 280px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto
}

@media(min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 15px;
        padding-right: 15px
    }
}

@media(min-width: 1140px) {
    .container {
        max-width: 1440px
    }
}

body {
    color: #fff;
    text-transform: uppercase;
    background-color: #363636
}

.title {
    margin: 0px;
    border: none;
    font-weight: 600;
    font-size: 2.125rem;
    text-align: center;
    color: #e6c300;
    padding-right: 0;
    padding-top: 0;
    padding-left: 0
}

@media(min-width: 940px) {
    .title {
        gap: 22px;
        grid-template-columns: repeat(3, 1fr)
    }
}

@media(min-width: 1140px) {
    .title {
        font-size: 5.625rem;
        padding-bottom: calc(.40625rem - 1px)
    }
}

.lower {
    text-transform: lowercase;
    margin-right: 8px;
    margin-left: 8px
}

img {
    width: 100%;
    object-fit: cover
}

.header-content {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    margin-top: 35px;
    margin-bottom: 45px
}

.hero-image {
    margin-bottom: 45px
}

.hidden {
    display: none !important
}

.active {
    background-color: #e6c300
}

.center {
    display: flex;
    margin-bottom: 25px
}

.radio-group {
    margin: auto;
    display: flex
}

@media(max-width: 48em) {
    .radio-group {
        flex-direction: column;
        align-items: flex-start;
        text-align: left
    }
}

.radio-group-label {
    display: block;
    width: 100%;
    margin: 10px 0
}

.radio-label {
    position: relative;
    display: inline-block;
    margin: 10px
}

@media(max-width: 48em) {
    .radio-label {
        display: block;
        margin: 10px 0
    }
}

.radio-label input {
    opacity: 0;
    position: absolute
}

.radio-label .inner-label {
    position: relative;
    display: inline-block;
    padding-left: 40px
}

.radio-label .inner-label:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 1px dashed rgba(255, 255, 255, .25);
    width: 30px;
    transition: border-bottom .5s ease
}

.radio-label input:focus~.inner-label:before {
    border-bottom: 1px solid rgba(255, 255, 255, .75)
}

.radio-label input:checked~.inner-label:after {
    content: "✓";
    color: #fff;
    position: absolute;
    font-size: 12px;
    left: 12px;
    top: 1px
}